.header {
  margin-top: 2rem;
  cursor: default !important;
}

.header:hover {
  box-shadow: none !important;
}

.header-text {
  text-align: center;
  font-size: 32px;
  padding: 10px;
  font-weight: bold;
}

.card {
  margin-bottom: 15px;
  border-radius: 10px;
  transition: all 0.35s;
  border: none;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0,0,0,0.25);
  transform: translateZ(0), scale(1.01);
}

.card-body {
  color: rgb(61, 64, 66);
}

.card-img, .card-img-top {
  height: 140px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.card-text:last-child {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.card-title {
  font-size: 15px;
}

.heading {
  text-align: center;
  font-size: 36px;
}

a:hover {
  text-decoration: none;
}

.padding-custom {
  padding: 7px;
}

@media only screen and (max-width: 450px) {
  .header-text, .heading {
    font-size: 20px;
  }
}
